{% extends 'blog/blog_base.html' %}
{% load only_hours %}

{% block title %}
    Home
{% endblock title %}


{% block content %}
    <div class="lastest">
        <div class="latest-heading">
            <h3>Latest</h3>
            <h4 class="latest-news-title"><a href="{{latest.get_absolute_url}}">{{latest.title}}</a></h4>
            <span class="date"><b>Published:</b>  <i>{{ latest.date_published|timesince|upto:',' }} ago</i></span>
        </div>
        <div class="latest-news-image">
            <img src="{{latest.image.url}}" alt="Latest News Image">
        </div>

    </div>


    {% if categories %}
    <div class="main-slider">
		<div class="swiper-container position-static" data-slide-effect="slide" data-autoheight="false"
			data-swiper-speed="500" data-swiper-autoplay="5000" data-swiper-margin="0" data-swiper-slides-per-view="4"
			data-swiper-breakpoints="true" data-swiper-loop="true" >
			<div class="swiper-wrapper">
                {% for category in categories %}
				<div class="swiper-slide">
					<a class="slider-category" href="{{ category.get_absolute_url }}">
						<div class="category-image">
                            <img src="{{ category.image.url }}"
                                 class="category-image"
                                 alt="Blog Image"
                                 width="100%" height="235"
                                 style="background-size: cover; background-repeat: no-repeat;"
                             >
                        </div>

						<div class="category">
							<div class="display-table center-text">
								<div class="display-table-cell">
									<h3><b>{{ category.name }}</b></h3>
								</div>
							</div>
						</div>
					</a>
				</div><!-- swiper-slide -->
                {% endfor %}

			</div><!-- swiper-wrapper -->
		</div><!-- swiper-container -->

	</div><!-- slider -->
    {% else %}
        <center><div class="alert alert-warning"><b>No Categories</b></div></center>
    {% endif %}



    <!-- Content Row -->
    <aside class="recent-area">

        <!-- --------------------------------------------------------------------------------------------------------------------------------
                                            SECTION TWO: RECENT PUBLISHED ARTICLES
        -------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="recent-articles-container">
            <div class="recent-articles-container-row">
                <div class="recent-articles-container-col-md-12">
                        <div class="card-shadow-sm" >
                            <div class="recent-card-header">
                                <h4 class="title" style="color: #fff;">Recent Published Articles</h4>
                            </div>
                            <div class="recent-card-body">
                            <div class="recent-content">
                    <section class="blog-list-px-3-py-5-p-md-5">
                        {% if recent_articles %}
                            <div class="container" style="margin: 0; padding: 0;">
                            {% for article in recent_articles %}
                                <div class="item-mb-5">
                                    <div class="media-recent">
                                        <img class="img-fluid-recent" src="{{ article.image.url }}" alt="image">
                                        <div class="media-body" style="margin: 0; padding: 0;">
                                            <h3 class="title-mb-1"><a href="{{article.get_absolute_url}}">{{ article.title }}</a></h3>
                                            <div class="meta">
                                                <span class="date"><b>Published:</b>  <i>{{ article.date_published|timesince|upto:',' }} ago</i></span>
                                                <span class="time">{{ article.count_words }} word{{ article.count_words|pluralize }}</span>
                                                <span class="time">{{ article.read_time }} min{{ article.read_time|pluralize }} read</span>
                                                <span class="comment">{{ article.views }} view{{ article.views|pluralize }}</span>
                                                <span class="comment"><a href="{% url 'blog:article_comments' article.slug %}">{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</a></span>
                                            </div>
                                            <a class="more-link" href="{{article.get_absolute_url}}">View details &rarr;</a>
                                            <hr class="solid"><!-- Solid divider -->
                                        </div><!--//media-body-->
                                    </div><!--//media-->
                                </div><!--//item-->
                            {% endfor %}
                            </div>
                        {% else %}
                                <center><div class="alert alert-info"><b>No Recent Published Articles</b></div></center>
                        {% endif %}
                        </section>
    
                            </div>
                            </div>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </aside>


        <!-- --------------------------------------------------------------------------------------------------------------------------------
                                                SECTION THREE: TRENDING ARTICLES
        -------------------------------------------------------------------------------------------------------------------------------- -->

        
        <section class="trending-articles" style="margin-bottom: 0;">
            <h2 style="color: #fff; background: rgb(169, 15, 15); font-size: 3em; width: fit-content; padding: auto 10px 0 10px; margin-bottom: 50px;">
                TRENDING</h2>
            <div class="trending-articles-container">
                <div class="most-trending-article">
                    <div class="most-trending-head">
                        <h4><a href="{{most_trending_article.get_absolute_url}}">{{ most_trending_article.title }}</a></h4>
                        <span class="date"><b>Published:</b><i>{{ most_trending_article.date_published|timesince|upto:',' }} ago</i></span>
                        <li><i class="ion-eye" style="font-size: smaller;"></i>{{ most_trending_article.views }}</li>
                        <p> {{most_trending_article.body|truncatewords:50}} </p>
                    </div>
                    <div class="most-trending-image">
                        <img src="{{most_trending_article.image.url}}" alt="Most Trending Article Image">
                    </div>
                </div>
                <div class="other-trending-articles" style="border-right: 0.5px solid rgb(146, 145, 145);">
                    {% if other_trending_articles %}
                        <div class="other-trending-articles-card">
                            {% for article in other_trending_articles %}
                            <div class="other-trending-container">
                                <div class="other-trending-articles-image">
                                    <img src="{{article.image.url}}" alt="{{article.title}}">
                                </div>
                                <div>
                                    <h6><a href="{{article.get_absolute_url}}"></a>{{article.title}}</h6>
                                    <div class="article-accessories">
                                        <li><a style="font-size: smaller;"><i class="ion-ios-clock"></i>{{ article.read_time }} min{{ article.read_time|pluralize }} read</a></li>
                                        <li><i class="ion-chatbubbles" style="font-size: smaller;"></i>{{ article.comments.count }}</li>
                                        <li><i class="ion-eye" style="font-size: smaller;"></i>{{ article.views }}</li>
                                    </div>
                                </div>
                            </div>
                            
                        {% endfor %}
                        </div>
                    {% else %}
                    <div class="alert alert-warning"><b>No Trending Articles</b></div>
                    {% endif %}
                </div>

            </div>



        </section>
        <hr class="solid">




    
        <!-- -------------------------------------------------------------------------------------------------------------------------------- -->

        <!-- SECTION FOUR -->

        <!-- --------------------------------------------------------------------------------------------------------------------------- -->



    <section class="blog-area section" style="margin-bottom: 0; padding-bottom: 0;">
        <h2 style="color: #fff; background: rgb(169, 15, 15); font-size: 3em; width: fit-content; padding: 10px 10px 0 10px; margin: 10px 0 0 0; height: fit-content;">
            CATEGORIES</h2>
        <div class="container" style="display: flex; width: 100%; margin: 0; background-color: rgb(0, 0, 0); padding-bottom: 50px;">

           
            <div class="row-category-container" style="display: flex; justify-content: center; align-items: center; 
            width: 100%; padding: 0; margin: 0; "> 
                    {% if categories %}
                        <div class="row-category" style="width: 100%;">
                            
                            {% for category in categories %}
                                
                                {% if articles %}
                                        <h2 class="title" style="margin: 100px 0 50px 15%; padding: 0; text-transform: uppercase; width: 70%;
                                         font-size: 25px; font-weight: bolder; color: rgb(169, 15, 15);">
                                            <a href="{{ category.get_absolute_url }}"><b>{{category.id}}.  {{ category.name }}</b></a></h2>
                                            
                                        <div class="category-wrap-contanier" style="max-width: 100%; display: flex; flex-direction: row; flex-wrap: wrap;">
                                             {% for article in articles|slice:":50" %}
                                                
                                                {% if category.name == article.category.name %}
                                                    
                                                    {% if article.id == category.id or forloop.counter == article.id %}
                                                        <div class="most-trending-article" style="margin: 20px;">
                                                            <div class="most-trending-head">
                                                                <h4 style="color: #fff; font-size: 30px;"><a href="{{article.get_absolute_url}}">{{ article.title }}</a></h4>
                                                                <span class="date" style="color: #fff;"><b>Published:</b><i>{{ article.date_published|timesince|upto:',' }} ago</i></span>
                                                                <li style="color: #fff;"><i class="ion-eye" style="font-size: smaller;"></i>{{ article.views }}</li>
                                                                <p> {{article.body|truncatewords:50}} </p>
                                                            </div>
                                                            <div class="most-trending-image" style="max-width: 800px;">
                                                                <img src="{{article.image.url}}" alt="{{ article.title }}">
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                    
                                      
                                                    <div class="flex-container" style="width: 300px; height: auto; margin-left: 10px;margin-right: 10px;">
                                                        <div class="category-card-container" style="width: 100%; max-height: 100%; padding: 0; margin: 0;">
                                                            <div class="card h-100" style="width: 100%; height: 100%;">
                                                                <div class="single-post post-style-1" style="width: 100%; height: 250px;">

                                                                    <div class="blog-image">
                                                                        <img src="{{ article.image.url }}"
                                                                            width="100%" height="150px"
                                                                            style = "background-repeat: no-repeat; background-size: cover;"
                                                                            alt="Blog Image">
                                                                    </div>

                                                                    <!-- <a class="avatar" href="{% url 'blog:author_articles' article.author.username %}"><img src="{{ article.author.profile.image.url }}"
                                                                                                    alt="Profile Image" class="profile-image">
                                                                    </a> -->

                                                                    <div class="blog-info">

                                                                        <h6 class="title" style="padding: 0; margin: 10px 0 20px 0; font-size: small;"><a href="{{ article.get_absolute_url }}"><b>{{ article.title }}</b></a></h4>

                                                                        <ul class="post-footer" style=" display: flex; align-items: center; justify-content: center; width: 100%; height: 30px;">
                                                                            <li><a style="font-size: smaller;"><i class="ion-ios-clock"></i>{{ article.read_time }} min{{ article.read_time|pluralize }} read</a></li>
                                                                            <li><i class="ion-chatbubbles" style="font-size: smaller;"></i>{{ article.comments.count }}</li>
                                                                            <li><i class="ion-eye" style="font-size: smaller;"></i>{{ article.views }}</li>
                                                                        </ul>

                                                                    </div><!-- article-info -->
                                                                </div><!-- single-post -->
                                                            </div><!-- card -->
                                                        </div><!-- col-lg-4 col-md-6 -->
                                                    </div>
                                                    {% endif %}
                                                {% else %}
                                                    <p></p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    <p></p>
                                {% endif %}
                            
                            {% endfor %}
                    </div><!-- row -->
                    {% else %}
                        <p></p>
                    {% endif %}
            </div><!-- row -->

                {# Pagination for article post #}
            {% if is_paginated %}

                {# Displays previous pages #}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4"
                    href="?page={{ page_obj.previous_page_number }}">Previous
                    </a>
                {% endif %}

                {# Displays current page #}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {# Displays next pages #}
            {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4"
                    href="?page={{ page_obj.next_page_number }}">Next
                    </a>
                    <a class="btn btn-outline-info mb-4"
                    href="?page={{ page_obj.paginator.num_pages }}">Last
                    </a>
                {% endif %}

            {% endif %}

        </div><!-- container -->

    </section>

    <section class="blog-area section" style="margin-top: 0; padding-top: 0;">
        <div class="container" style="display: flex; width: 100%; margin: 0; padding-top: 100px; background-color: rgb(169, 15, 15);">
           
            <div class="row-category-container" style=" 
            width: 100%; padding: 0; margin: 0; height: auto;"> 
                    {% if categories %}
                        <div class="row-category" style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                            
                            {% for category in categories %}
                                
                                {% if articles %}
                                        <div class="category-article-list-container" style="width: 400px; margin-left: 10px; margin-bottom: 50px;">
                                            <h2 class="title" style="margin: 10px 0 0 0; padding: 0; text-transform: uppercase;
                                            font-size: 20px; font-weight: bolder; color: rgb(255, 255, 255);">
                                               <a href="{{ category.get_absolute_url }}"><b>{{category.id}}.  {{ category.name }}</b></a></h2>
                                            
                                            <!-- {% if articles|first %} -->
                                                <div style="margin: 10px 0 10px 0; height: 150px;">
                                                    <img src="{{category.image.url}}" style="max-height: 100%;" alt="{{category.title}}">
                                                </div>
                                            <!-- {% endif %} -->
                                           <div class="category-wrap-contanier" style="max-width: 100%; display: flex; flex-direction: column; 
                                           justify-content: left; align-items: flex-start; text-align: left;">
                                                {% for article in articles|slice:":50" %}
                                                   
                                                   {% if category.name == article.category.name %}
                                                       <div class="category-article-title-list">
                                                           <div class="article-title-list">
                                                               <ol>
                                                                   <h6 style="color: rgb(211, 211, 211);"><a href="{{ article.get_absolute_url }}">{{article.title}}</a></h6>
                                                               </ol>
                                                           </div>
                                                           
                                                       </div>
                                                       
   
                                                   {% else %}
                                                       <p></p>
                                                   {% endif %}
                                               {% endfor %}
                                           </div>
                                           <hr class="solid">
                                        </div>
                                        

                                {% else %}
                                    <p></p>
                                {% endif %}
                            
                            {% endfor %}
                    </div><!-- row -->
                    {% else %}
                        <p></p>
                    {% endif %}
            </div><!-- row -->

                {# Pagination for article post #}
            {% if is_paginated %}

                {# Displays previous pages #}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4"
                    href="?page={{ page_obj.previous_page_number }}">Previous
                    </a>
                {% endif %}

                {# Displays current page #}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {# Displays next pages #}
            {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4"
                    href="?page={{ page_obj.next_page_number }}">Next
                    </a>
                    <a class="btn btn-outline-info mb-4"
                    href="?page={{ page_obj.paginator.num_pages }}">Last
                    </a>
                {% endif %}

            {% endif %}

        </div><!-- container -->

    </section>


    <!-- --------------------------------------------------------------------------------------------------------------------------------
    MORE News
    -------------------------------------------------------------------------------------------------------------------------------- -->


    <section class="more-news-table" style="margin-top: 100px;">
        <h2>MORE NEWS...</h2>
        <table class="news-table">
            <thead class="news-table-head">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            
            <tbody>
                <!-- {% if categories %} -->
                    {% for category in categories %}
                        <!-- {% if articles %} -->
                            {% for article in articles|slice:":50" %}
                                {% if category.name == article.category.name %}
                                    <tr class="news-table-row">
                                        <td class="table-news-category">{{ article.category }}</td>
                                        <td class="table-news-image"><img src="{{article.image.url}}" alt="{{article.title}}"></td>
                                        <td class="table-news-title">{{ article.title }}</td>
                                        <td class="table-news-body">{{ article.body|truncatewords:50}}</td>
                                        <td class="table-news-pubdate">{{ article.date_published|timesince|upto:',' }} ago</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        <!-- {% endif %} -->
                    {% endfor %}
                <!-- {% endif %} -->
            </tbody>
        </table>

    </section>    

{% endblock content %}


<section class="blog-area section">
    <div class="container infinite-container">
        {% if articles %}
        <div class="row infinite-item">
            {% for article in articles %}
            <div class="col-lg-4 col-md-6">
                <div class="card h-100">
                    <div class="single-post post-style-1">
                        <h3><b>{{ article.category.name }}</b></h3>
                        <div class="blog-image">
                            <img src="{{ article.image.url }}"
                                 alt="Blog Image"
                                 width="330" height="220"
                            >
                        </div>

                        <a class="avatar" href="{% url 'blog:author_articles' article.author.username %}">
                            <img class="profile-image" src="{{ article.author.profile.image.url }}" alt="Profile Image">
                        </a>

                        <div class="blog-info">

                            <h4 class="title"><a href="{{ article.get_absolute_url }}"><b>{{ article.title }}</b></a></h4>

                            <ul class="post-footer">
                                <li><a><i class="ion-ios-clock"></i>{{ article.read_time }} min{{ article.read_time|pluralize }} read</a></li>
                                <li><i class="ion-chatbubbles"></i>{{ article.comments.count }}</li>
                                <li><a><i class="ion-eye"></i>{{ article.views }}</a></li>
                            </ul>

                        </div><!-- article-info -->
                    </div><!-- single-post -->
                </div><!-- card -->
            </div><!-- col-lg-4 col-md-6 -->
            {% endfor %}
        </div><!-- row -->
        {% else %}
            <div class="alert alert-warning"><b>No Articles</b></div>
        {% endif %}
    {# Pagination for article post #}
        {% if is_paginated %}

            {# Displays previous pages #}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4"
                   href="?page={{ page_obj.previous_page_number }}">Previous
                </a>
            {% endif %}

            {# Displays current page #}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
             {% endfor %}

            {# Displays next pages #}
           {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4"
                   href="?page={{ page_obj.next_page_number }}">Next
                </a>
                <a class="btn btn-outline-info mb-4"
                   href="?page={{ page_obj.paginator.num_pages }}">Last
                </a>
            {% endif %}

        {% endif %}
    </div><!-- container -->
</section>